.page_title_container {
	margin-bottom: 20px;
	.page_title {
		font-size: 32px;
	}
	.page_desc {
		font-size: 16px;
	}
}

.join_container {
	height: 100%;
	.join_container_inner {
		height: 100%;
		.agreement_container {
			h2 {
				font-size: 16px;
			}
			legend {
				font-size: 22px;
			}
			label {
				font-size: 16px;
				margin-left: 10px;
			}

			label,
			input {
				display: block;
			}
			input[type="checkbox"] {
				border-radius: 50px;
			}
			.agree-desc {
				height: 50%;
				overflow-x: hidden;
				overflow-y: auto;
				margin-bottom: 20px;
				border-radius: 5px;
				border: 1px solid #0000001c;
				padding: 15px;

				ul {
					li {
						font-size: 14px;
						font-weight: 300;
						text-align: left;
						margin-bottom: 10px;
						list-style: none;
						/* color: #9499b7; */
						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
			}
			form {
				fieldset {
					.joinAgree {
						.check {
							display: flex;
							justify-content: center;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
		.agree-desc ul ul:nth-child(1) li {
			font-size: 16px;
			text-align: center;
			color: #2b0667;
		}

		.scrollBar::-webkit-scrollbar {
			width: 8px; /* 스크롤바의 너비 */
		}

		.scrollBar::-webkit-scrollbar-thumb {
			height: 30%; /* 스크롤바의 길이 */
			background: #4b12a7; /* 스크롤바의 색상 */
			border-radius: 10px;
		}

		.scrollBar::-webkit-scrollbar-track {
			background: #0000001c; /*스크롤바 뒷 배경 색상*/
		}
	}
}

.book_write_container {
}
