.deco_list {
  width: 100%;
}
/* .deco_list_inner{
    width: 1160px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;

} */
.deco_list_item_cont {
  width: 24%;
}
.deco_list_item_cont:nth-child(even) .deco_list_contents {
  /* height: 278px !important; */
}
.deco_list_contents .book_item {
  transform: scale(0.3) translate(-239px, 1506px) rotate(351deg);
}
.deco_list_contents:hover .book_item {
  transform: scale(0.3) translate(-239px, 514px) rotate(351deg);
  box-shadow: 0px 30px 40px 10px #2c2b4682;
}
.deco_list_contents {
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  /* margin-right: 10px; */
  height: 378px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid #d6d3e066;
  background-size: 903px auto;
  background-repeat: no-repeat;
  background-position: -80px;
  /* box-shadow: 0px 30px 20px -26px #06166759; */
}
.deco_list_contents:last-child {
  margin-right: 0;
}
.deco_list_contents:hover {
  transform: translateY(-20px);
  transition: all 0.25s;
  box-shadow: 0px 0px 20px 0px #06166726, 0px 50px 40px -36px #0616675c;
  border: 1px solid #4746ac;
}
.deco_list_contents:not(:hover) {
  transition: 0.25s;
}
.deco_list_contents::before,
.deco_list_contents::after {
  content: "";
}
.deco_list_contents::after {
  /* background: linear-gradient(28deg, #d1cde1 10%, transparent 80%); */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.title,
.reg_time,
.desc,
.profile_img {
  z-index: 10;
  color: #fff;
}
.deco_contents {
  width: 100px;
  height: 100px;
}
.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 3px;
  border: 1px solid rgb(191 191 214);
  margin-right: 10px;
}
.deco_list_desc {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.deco_list_desc h2,
.deco_list_desc p {
  color: #363564;
  text-align: left;
}
.deco_list_desc p {
  margin-bottom: 0;
}
.reg_time {
  background: #4746acb3;
  border-radius: 100px;
  padding: 8px 10px;
  font-size: 16px;
  display: in;
  display: inline;
  /* width: 80px; */
  text-align: center;
  border: 1px solid #ffffff29;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: translatey(100px);
  transition: 0.25s;
}
.deco_list_contents:hover .reg_time {
  transform: translateY(0px);
}
.deco_list_desc h2 {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

.deco__Diary {
  /* max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center; */
  height: 100vh;
}
.deco__cont {
  width: 50%;
}
.deco__cont a:nth-child(1) {
  margin-bottom: 10px;
}
.DecoWrite {
  display: flex;
  justify-content: sp;
  font-size: 16px !important;
  height: 40px;
  width: 600px;
}
.decocontImg {
  display: flex;
  position: relative;
  height: 40px;
  width: 216px;
}
.decocontImg label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  font-size: 14px;
}
#DecoFile {
  padding-left: 98px;
  cursor: pointer;
}
.DecoWrite input,
.DecoWrite textarea {
  height: 40px;
  resize: none;
  border: 1px solid #000;
  border-radius: 100px;
  text-align: center;
  line-height: 2.9;
  padding: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.394);
  box-shadow: 0px 10px 10px -10px #25085485;
}
.deco_list {
  width: 100%;
}
.deco_list_inner {
  align-items: start;
  width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 14px;
}
.deco_list_inner a {
  background: #ffffff36;
  width: 32%;
  height: 100%;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid #e9ebed;
  transition: transform 0.25s, box-shadow 0.25s, background 0.25s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deco_list_inner a:hover {
  transform: translateY(-33px);
  box-shadow: 0px 50px 50px -30px #783d2a52;
  background: linear-gradient(0deg, #ff987e45 0%, transparent 5%);
}
.deco_list_inner a:not(:hover) {
  transition: transform 0.25s, box-shadow 0.25s, background 0.25s;
}
.deco_list_inner a img {
  width: 160px;
  margin-bottom: 20px;
}
.deco_list_inner a p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.deco_list_inner a span {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.446);
}
.nothing {
  background: #eef0f3;
  color: #7b8593 !important;
  padding: 5px 10px;
  border-radius: 100px;
  text-align: center;
}
.pink {
  background: #ffedf2;
  color: #ff0e51 !important;
  padding: 5px 10px;
  border-radius: 100px;
  text-align: center;
}
.purple {
  background: #f0edff;
  color: #720eff !important;
  padding: 5px 10px;
  border-radius: 100px;
  text-align: center;
}
.blue {
  background: #edf0ff;
  color: #0e1fff !important;
  padding: 5px 10px;
  border-radius: 100px;
  text-align: center;
}

/* book */
.deco_book_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: updown1 0.9s alternate 0s infinite;
}
.deco_book {
  position: relative;
}
.book_item {
  position: relative;
  height: 300px;
  width: 200px;
  transform: rotate(11deg);
  margin-bottom: 70px;
}
.book_front {
  position: relative;
  height: 300px;
  /* border: 1px solid #000; */
  width: 200px;
  background: linear-gradient(129deg, #e0f3b0, #01b0bb);
  /* margin: 70px 0; */
  filter: hue-rotate(70deg);
  border-radius: 15px;
  /* transform: rotate(11deg); */
  box-shadow: inset 2px 2px 20px 0px #fff;
}

.blue_front {
  filter: hue-rotate(44deg) !important;
}

.pink_front {
  filter: hue-rotate(161deg) !important;
}

.purple_front {
  filter: hue-rotate(96deg) !important;
}

.book_item::after {
  content: "|  |  |  |  |  |  |  |  |  |  |";
  /* width: 150px; */
  font-size: 30px;
  transform: rotate(90deg) translate(0, -50%);
  position: absolute;
  left: -135px;
  top: 40%;
  color: #373333;
  font-family: "imhyemin";
  font-weight: bold;
  /* height: 78px; */
}
.book_item::before {
  content: "";
  height: 300px;
  border: 1px solid #5d607c59;
  width: 200px;
  background: #ffffff;
  /* margin: 70px 0; */
  border-radius: 15px;
  transform: translateX(6px);
  box-shadow: 2px 8px 0px 0px #504ea0b0;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: -122222;
}
.book_item:hover {
  transform: scale(1.1) translateY(-20px);
  transition: 0.25s;
}
.book_item:not(:hover) {
  transition: 0.25s;
}

.book_desc {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 50%;
  text-align: left;
  transform: translate(-50%, 0);
  border-left: 3px solid #fff;
  padding-left: 10px;
  color: #fff;
  font-family: "imhyemin";
  font-weight: bold;
  font-size: 16px;
}

.book_item_img_cont {
  position: relative;
}
.book_item_img_cont img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  border: 1px dashed #ffffff61;
  border-radius: 15px;
  width: 145px;
  height: 145px;
  object-fit: cover;
  background: #fff;
}
.deco_book::before {
  content: "";
  width: 148px;
  height: 60px;
  filter: blur(21px);
  background: #3b357270;
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%, 0);
}

.book_item_img_cont::before,
.book_item_img_cont::after {
  content: "";
}

.book_item_img_cont::before {
  position: absolute;
  bottom: -186px;
  left: 27px;
  width: 73%;
  height: 112px;
  background: linear-gradient(0deg, #ffffff 10%, transparent 90%);
  z-index: 1212;
  border-radius: 0px 0px 15px 15px;
}

.book_item_img_cont::after {
  position: absolute;
  width: 11px;
  height: 20px;
  z-index: 1212;
  background: #a891ea;
  right: -19px;
  top: 40px;
  border-right: 3px solid #4200ff;
  border-left: 1px solid #0000003d;
  box-shadow: 2px 4px 4px 0px #0000002e;
}

/* 다꾸 편집 화면 */
.DecoSticker {
  display: flex;
  height: 40px;
}

textarea#decoCont {
  height: 40px;
  box-sizing: border-box;
  line-height: 2.5;
  border-radius: 100px;
  border: 1px solid rgb(225, 224, 224);
  text-align: center;
  resize: none;
  box-shadow: 0px 10px 10px -10px #25085485;
  margin-right: 10px;
}

.decocontImg input {
  background: #fff;
  border-radius: 100px;
  border: 1px solid #ededed;
  box-shadow: 0px 10px 10px -10px #25085485;
  line-height: 2.9;
}

.DecoSticker input {
  border-radius: 100px;
  border: 1px solid rgb(225, 224, 224);
  text-align: center;
  box-shadow: 0px 10px 10px -10px #25085485;
  margin-right: 10px;
}

.screenshot_cont {
  display: flex !important;
}
.screenshot_cont button {
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #e2315b;
  background: #f2478a;
  box-shadow: 0px 10px 10px -10px #25085485;
  cursor: pointer;
  color: #fff !important;
  padding: 0px !important;
  width: 90px !important;
  margin-right: 10px;
}
.screenshot_cont button:nth-child(1),
.screenshot_cont button:nth-child(2) {
  margin-right: 10px;
}
